<div class="recording-details">
  <!-- show recording options if app is ready for recording -->
  <div id="recordUploadBtnBox" *ngIf="showRecordBtn">
    <!-- show record button-->
    <button mat-raised-button id="recordBtn"
            color="accent" (click)="clickRecordBtn()">Start recording</button>
    <!-- show upload recording button -->
    <button mat-raised-button id="openUploadDialogBtn"
            color="accent" (click)="uploadDialogBtn()">Upload</button>
    <!-- if Upload recording button clicked, show file picker -->
    <div id="uploadDialog" *ngIf="uploadSelected">
      <input #fileSelector type="file" id="fileSelector" name="fileUpload">
      <button mat-raised-button (click)="uploadRecordingBtn()">Upload</button>
    </div>
  </div>
  <!-- show recording progress and stop recording button when recording -->
  <div id="recordProgress" *ngIf="isRecording">
    <button id="stopBtn" mat-raised-button (click)="clickStopBtn()">Stop recording</button>
    <div id="recordingTimer"><h3 mat-dialog-title>{{currentRecordingTime}}</h3></div>
  </div>
  <!-- when recording finished or file picked, show save dialog -->
  <div *ngIf="showSaveDialog">
    <div *ngIf="isLimitReached()">
      <em>Your recording was interrupted due to insufficient credit.</em>
    </div>
    <div *ngIf="this.isDurationComputed() && !sufficientCredits()">
      <em>Insufficient credits to process the recording.</em>
    </div>
    <div *ngIf="!this.isDurationComputed()">
      <em>Verifying if sufficient credits for upload...</em>
    </div>
    <!-- audio element to listen to the recording before upload -->
    <audio class="e2e-iframe-trusted-src" id="player" controls [src]="trustedURL">
      Your browser does not support the <code>audio</code> element.
    </audio>
    <!-- transcription settings -->
    <form id="saveForm" #saveForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- allow user to select recording language -->
      <div mat-line>
        <mat-slide-toggle [(ngModel)]="notEnglish" name="notEnglish" (change)="resetDefaultLang()">The recording is not in English <em>(experimental)</em></mat-slide-toggle>
        <div *ngIf="notEnglish">
          <mat-form-field>
            <mat-label>Select language</mat-label>
            <mat-select [(ngModel)]="mainLang" name="mainLang" required>
              <mat-option *ngFor="let lang of RECORD_LANGUAGES" [value]="lang.value">{{lang.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- ask if diarization required -->
      <div mat-line *ngIf="!notEnglish">
        <mat-slide-toggle [(ngModel)]="diarize" name="diarize">Recognise multiple speakers</mat-slide-toggle>
        <!-- select diarization mode -->
        <mat-card *ngIf="diarize">
          <!-- <mat-slide-toggle [(ngModel)]="autoDetect" name="autoDetect">Auto-detect number of speakers <em>(experimental)</em></mat-slide-toggle> -->
          <!-- <div mat-line *ngIf="!autoDetect"> --> 
          Number of speakers estimate:
          <div mat-line>
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="noSpeakersMin" name="noSpeakersMin" placeholder="min" required />
            </mat-form-field>
              -
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="noSpeakersMax" name="noSpeakersMax" placeholder="max" required />
            </mat-form-field>
          </div>
      </mat-card>
      </div>
      <!-- allow user to give a title to a recording -->
      <mat-form-field>
        <input (keyup.enter)="onSubmit()" matInput [(ngModel)]="recordTitle" name="recordTitle" placeholder="Recording title">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="!saveForm.form.valid || !this.sufficientCredits()">Upload</button>
      <button mat-raised-button (click)="cancelRecord()">Cancel</button>
    </form>
  </div>
  <!-- when uploading, show progress bar -->
  <div id="uploadProgress" *ngIf="showUploadProgress">
    <p mat-line>Uploading your recording:</p>
    <mat-progress-bar id="upload-progress-bar" mode="determinate" value="{{this.upload.getProgress()}}"></mat-progress-bar>
  </div>
  <!-- when upload finished, let user wait for processing to finish -->
  <div id="processingProgress" *ngIf="showProcessing">
    <p mat-line>Processing</p>
    <mat-spinner></mat-spinner></div>
  <!-- notify user job is done -->
  <div id="uploadComplete" *ngIf="showComplete"><p>Upload complete!</p></div>
</div>