<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container page-wrap">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h1 class="minutescript__logo"></h1></span>
      <span class="example-spacer"></span>
      <span><app-login></app-login></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
  <mat-card id="main-card">
  <div class="content" *ngIf="afAuth.authState | async as user; else showPrompt">

    <router-outlet></router-outlet>
  </div>
    <ng-template #showPrompt>
      Sign in to use MinuteScript.
    </ng-template>
</mat-card>
</div>

<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary" class="footer">
    <mat-toolbar-row class="footer-dark">
    <span class="example-spacer">Proudly made in Newcastle, UK</span>
    <span>
      <a mat-button href="mailto:contact@minutescript.app">
        Contact Us
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

</div>
