$mat-custom-blue: (
    50 : #edecff,
    100 : #d3d0ff,
    200 : #b6b1ff,
    300 : #9892ff,
    400 : #827aff,
    500 : #6c63ff,
    600 : #645bff,
    700 : #5951ff,
    800 : #4f47ff,
    900 : #3d35ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e0dfff,
    A700 : #c8c6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-custom-orange: (
    50 : #fef6e8,
    100 : #fee8c7,
    200 : #fdd9a1,
    300 : #fcc97b,
    400 : #fbbe5f,
    500 : #fab243,
    600 : #f9ab3d,
    700 : #f9a234,
    800 : #f8992c,
    900 : #f68a1e,
    A100 : #ffffff,
    A200 : #fffbf8,
    A400 : #ffe0c5,
    A700 : #ffd3ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-custom-green: (
    50 : #e1f9f3,
    100 : #b4f1e1,
    200 : #83e8ce,
    300 : #51dfba,
    400 : #2bd8ab,
    500 : #06d19c,
    600 : #05cc94,
    700 : #04c68a,
    800 : #03c080,
    900 : #02b56e,
    A100 : #defff0,
    A200 : #abffda,
    A400 : #78ffc3,
    A700 : #5effb8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mat-custom-blue-darker: (
   50 : #e5f0f7,
   100 : #bfd9ea,
   200 : #94c0dc,
   300 : #69a6ce,
   400 : #4993c4,
   500 : #2980b9,
   600 : #2478b2,
   700 : #1f6daa,
   800 : #1963a2,
   900 : #0f5093,
   A100 : #c3deff,
   A200 : #90c3ff,
   A400 : #5da7ff,
   A700 : #4499ff,
   contrast: (
       50 : #000000,
       100 : #000000,
       200 : #000000,
       300 : #000000,
       400 : #000000,
       500 : #ffffff,
       600 : #ffffff,
       700 : #ffffff,
       800 : #ffffff,
       900 : #ffffff,
       A100 : #000000,
       A200 : #000000,
       A400 : #000000,
       A700 : #000000,
   )
);





$mat-custom-orange-darker: (
    50 : #fff4e6,
    100 : #ffe3c0,
    200 : #ffd196,
    300 : #ffbe6b,
    400 : #ffb04c,
    500 : #ffa22c,
    600 : #ff9a27,
    700 : #ff9021,
    800 : #ff861b,
    900 : #ff7510,
    A100 : #ffffff,
    A200 : #fffbf8,
    A400 : #ffdbc5,
    A700 : #ffccac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
